/*Layout*/
#dashboard *,
#dashboard *::before,
#dashboard *::after {
  box-sizing: border-box;
}
#dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#dashboard .container-7 {
  width: calc(70% - 30px);
}
#dashboard .container-3 {
  width: calc(30% - 30px);
}
#dashboard .wrap {
  display: flex;
  flex-wrap: wrap;
}
#dashboard .wrap-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
}
#dashboard .col-4 {
  width: calc(57% - 15px);
}
#dashboard .col-3 {
  width: calc(43% - 15px);
}
#dashboard .box-1,
#dashboard .box-2,
#dashboard .box-3,
#dashboard .box-4 {
  margin: 30px 15px;
}
#dashboard .box-5,
#dashboard .box-6 {
  margin: 0 30px 0 0;
}
#dashboard .box-7 {
  margin: 0 0 30px 0;
}
#dashboard .border {
  border: 1px solid #000;
}
#dashboard #time-area,
#dashboard #stopwatch-area,
#dashboard #stopwatch-record-area,
#dashboard #countdown-timer-area,
#dashboard #status-area,
#dashboard #control-area,
#dashboard #timer-area {
  width: 100%;
  padding: 15px 30px;
}
@media (max-width: 1200px) {
  #dashboard .container-7,
  #dashboard .container-3 {
    width: 100%;
  }
  #dashboard .box-1 {
    margin: 0 15px 30px;
  }
}
@media (max-width: 768px) {
  #dashboard .col-4,
  #dashboard .col-3 {
    width: 100%;
  }
  #dashboard .box-5 {
    margin: 30px 0 0 0;
  }
  #dashboard .box-6 {
    margin: 0 0 30px 0;
  }
}
